
.Red {
    color: red;
  }

.Bold {
    font-weight: bold;
}

.Button {
    border: 1px solid #ef400a;
    padding: 16px;
    background-color: #45eeff;
    font: inherit;
    color: white;
    cursor: pointer;
}

.Button:hover {
    background-color: lightcyan;
    color: black;
}

.Button.Red {
    background-color: red;
}
.Button.Red:hover {
    background-color: lightcoral;
    color: green;
}